<section>
  <button id="back-button" (click)="goBack()"><p>Torna indietro</p></button>
  <div id="main-div">
    <div class="title-container" fxLayout="column" fxLayoutAlign="center center">
      <h1>Privacy Policy</h1>
      <h2>Informativa sulla privacy di Antonello Zitelli aggiornata al 17/10/2022</h2>
    </div>
    <p>La presente Informativa sulla privacy descrive le modalità con cui i tuoi dati personali vengono raccolti, utilizzati e diffusi quando visiti antonellozitelli.it (il “Sito”).</p>
    <p><b>RACCOLTA DATI PERSONALI</b></p>
    <p>Quando visiti il Sito, raccogliamo automaticamente determinate informazioni presenti sul tuo dispositivo come i dati del browser per determinare il tipo di piattaforma dal quale visiti il Sito (desktop o mobile) e il tuo indirizzo ip (in forma anonima) per determinare la città e il paese dal quale visiti il Sito. Inoltre, mentre navighi sul Sito raccogliamo informazioni specifiche sulle pagine web e sul modo in cui interagisci con il Sito. Definiremo queste informazioni raccolte automaticamente come “Informazioni sul dispositivo”.</p>
    <p>Raccogliamo le Informazioni sul dispositivo con le seguenti tecnologie:</p>
    <ul>
      <li>I “cookie” sono file di dati che vengono inseriti sul tuo dispositivo o computer, e spesso includono un codice identificativo univoco anonimo.</li>
      <li>I “tag” e “pixel” sono file elettronici utilizzati per registrare dati sulle tue modalità di navigazione nel Sito.</li>
    </ul>
    <p>In più quando compili il form per richiedere i capitoli del libro raccogliamo determinate informazioni che ti riguardano, tra cui nome e indirizzo email. Definiremo questi dati come “Informazioni personali da form”.<br>
      Quando parliamo di “Dati personali” in questa Informativa sulla privacy, facciamo riferimento sia alle Informazioni sul dispositivo che alle Informazioni personali da form.</p>
    <p><b>COME UTILIZZIAMO I TUOI DATI PERSONALI?</b></p>
    <p>Generalmente utilizziamo le Informazioni personali da form per comunicare con te.<br>
    Utilizziamo le Informazioni sul dispositivo raccolte per migliorare e ottimizzare il nostro Sito (ad esempio, generando dati analitici sulle modalità di navigazione e interazione con il Sito da parte dei visitatori).</p>
    <p><b>DIVULGAZIONE DEI TUOI DATI PERSONALI</b></p>
    <p>Non condividiamo con nessuna azienda di terze parti i tuoi Dati personali. Potremmo però comunicare a terzi i tuoi Dati personali per conformarci a leggi e regolamenti applicabili, rispondere a citazioni in giudizio o per tutelare i nostri diritti.</p>
    <p><b>DO NOT TRACK</b></p>
    <p>Rispettiamo la tua privacy e in presenza del segnale “Do Not Track” del tuo browser non raccogliamo automaticamente le Informazioni sul dispositivo.</p>
    <p><b>I TUOI DIRITTI</b></p>
    <p>Se risiedi in Europa, hai il diritto di accedere ai dati personali che ti riguardano in nostro possesso e di richiederne l’aggiornamento, la correzione o la rimozione. Se desideri esercitare questo diritto, contattaci attraverso i recapiti sottostanti.</p>
    <p><b>CONSERVAZIONE DEI DATI</b></p>
    <p>Conserviamo i tuoi dati personali nei nostri archivi fino a quando non ci chiederai di eliminare tali informazioni.</p>
    <p><b>MODIFICHE</b></p>
    <p>Di volta in volta potremo aggiornare la presente Informativa sulla privacy, ad esempio in modo che rifletta le modifiche alle nostre procedure, oppure per altre ragioni operative, legali o normative.</p>
    <p><b>TITOLARE DEL TRATTAMENTO</b></p>
    <p>Antonio Zitelli</p>
    <p><b>CONTATTACI</b></p>
    <p>Per maggiori informazioni sulle nostre procedure in materia di privacy, se hai domande o se vuoi presentare un reclamo, inviaci un’email a <a id="privacy-email" href="mailto:dimmi@antonellozitelli.it">dimmi@antonellozitelli.it </a></p>
    <div class="title-container" fxLayout="column" fxLayoutAlign="center center">
      <h1 id="cookie-policy">Cookie Policy</h1>
    </div>
  </div>
</section>

