<div id="buy-banner" fxLayoutAlign="center center" *ngIf="this.cookieService.check('book-preview-access')">
  <div fxLayout="column">
    <a href="https://www.amazon.it/dp/1717825575/" target="_blank">
      <button class="btn book-buy-btn-banner wow animate__animated animate__bounceIn">Acquista il libro completo
      </button>
    </a>
  </div>
</div>

<pdf-viewer *ngIf="this.cookieService.check('book-preview-access')"
            [src]="pdfsrc"
            [render-text]="false"
            [fit-to-page]="true"
            [original-size]="true"
            [show-borders]="true"
            style="position: absolute; top: 70px; right: 0; bottom: 0; left: 0"
></pdf-viewer>

<section *ngIf="!this.cookieService.check('book-preview-access')" fxLayoutAlign="center center">
  <div class="wow animate__animated animate__bounceIn" id="access-error-container" fxLayout="column"
       fxLayoutAlign="center center" fxLayoutGap="15px">
    <span id="error-title">🔒 Non hai accesso all'anteprima del libro 🔒</span>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
      <button class="btn wow animate__animated animate__bounceIn" id="book-access-btn" routerLink="/comunicadaleader">
        Ottieni l'accesso
      </button>
      <a href="https://www.amazon.it/dp/1717825575/"
         target="_blank">
        <button class="btn book-buy-btn wow animate__animated animate__bounceIn">Acquista il libro completo
        </button>
      </a>
    </div>
  </div>
</section>
