<div id="form-container">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
    <h1 id="form-title">Migliora la tua comunicazione</h1>
    <h2 id="form-subtitle">Una marcia in più nella vita e nel lavoro</h2>
    <h3 id="form-description">Diventa un abile comunicatore creando il tuo stile comunicativo. Compilando il form avrai
      l'accesso esclusivo a 2 capitoli del libro.</h3>
  </div>
  <div>
    <form action="/">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="wrap-input">
          <input class="form-input" type="text" name="name" placeholder="Nome completo">
          <span class="focus-input"></span>
        </div>
        <div class="wrap-input">
          <input class="form-input" type="text" name="email" placeholder="Email">
          <span class="focus-input"></span>
        </div>
        <div class="wrap-input">
          <input class="form-input" type="text" name="work" placeholder="Professione">
          <span class="focus-input"></span>
        </div>
        <div class="wrap-input" fxLayoutAlign="center center">
          <input class="form-checkbox" type="checkbox" name="privacy-checkbox" id="privacy-checkbox"
                 value="Presto il consenso al trattamento dei miei dati">
          <label for="privacy-checkbox">
            <span>Presto il consenso al trattamento dei miei dati <a href="https://antonellozitelli.it/privacy-policy">(Privacy policy)</a></span>
          </label>
        </div>
        <div id="form-btn-container">
          <button id="form-btn">Scarica l'anteprima</button>
        </div>
      </div>
    </form>
  </div>
</div>
