<div id="main-container">
  <div id="form-container">
    <div class="wow animate__animated animate__bounceIn animate__delay-1s" fxLayout="column"
         fxLayoutAlign="center center" fxLayoutGap="12px">
      <h1 id="form-title">{{copy.title}}</h1>
      <img id="book-img-desktop" fxShow.lt-md="false" src="assets/images/copertina-libro.webp"
           alt="comunica-da-leader-copertina-libro">
      <h2 id="form-subtitle" fxShow.xs="false">{{copy.subtitle}}</h2>
      <h3 id="form-description">Nel libro <strong>Comunica da leader</strong> ci sono tutti i suggerimenti per creare un
        proprio <strong>stile comunicativo</strong>. Compilando il form otterrai l'accesso gratuito a 2 capitoli del
        libro.</h3>
    </div>
    <div>
      <form [formGroup]="formData" (ngSubmit)="sendData(formData)">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="wrap-input wow animate__animated animate__bounceInLeft animate__delay-1s">
            <label (focusout)="checkForm('fullname')">
              <input class="form-input" type="text" formControlName="fullname" placeholder="Nome completo *">
            </label>
            <span id="fullname" class="focus-input"></span>
          </div>
          <div class="wrap-input wow animate__animated animate__bounceInRight animate__delay-1s">
            <label (focusout)="checkForm('email')">
              <input class="form-input" type="text" formControlName="email" placeholder="Email *">
            </label>
            <span id="email" class="focus-input"></span>
          </div>
          <div class="wrap-input wow animate__animated animate__bounceInLeft animate__delay-1s">
            <label (focusout)="checkForm('job')">
              <input class="form-input" type="text" formControlName="job" placeholder="Professione *">
            </label>
            <span id="job" class="focus-input"></span>
          </div>
          <div class="wrap-input wow animate__animated animate__bounceInRight animate__delay-1s"
               fxLayoutAlign="center center">
            <input class="form-checkbox" type="checkbox" formControlName="privacycheckbox" id="privacycheckbox"
                   value="Autorizzo il trattamento dei miei dati personali">
            <label for="privacycheckbox">
              <span style="margin-left:5px; color:red">* </span><span id="privacy-text">Autorizzo il trattamento dei miei dati personali <a
              id="privacy-link" routerLink="/privacy-policy">(Privacy policy)</a></span>
            </label>
          </div>
          <span id="form-err"></span>
          <span id="form-send-err">Qualcosa è andato storto durante l'invio dei dati. Riprova</span>
          <img id="book-img-mobile" fxShow.gt-xs="false" src="assets/images/copertina-libro.webp"
               alt="comunica-da-leader-copertina-libro" width="30%">
          <div id="form-btn-container">
            <button class="btn wow animate__animated animate__bounceIn animate__delay-1s" type="submit" id="form-btn"
                    [disabled]="!formData.valid">Ottieni l'accesso
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
