<div id="form-container">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
    <h1 id="form-title">Migliora la tua comunicazione</h1>
    <h2 id="form-subtitle">Una marcia in più nella vita e nel lavoro</h2>
    <h3 id="form-description">Diventa un abile comunicatore creando il tuo stile comunicativo. Compilando il form avrai
      l'accesso esclusivo a 2 capitoli del libro.</h3>
  </div>
  <div>
    <form [formGroup]="formData" (ngSubmit)="sendData(formData)">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="wrap-input">
          <label (focusout)="checkForm('fullname')">
            <input class="form-input" type="text" formControlName="fullname" placeholder="Nome completo *">
          </label>
          <span id="fullname" class="focus-input"></span>
        </div>
        <div class="wrap-input">
          <label (focusout)="checkForm('email')">
            <input class="form-input" type="text"formControlName="email" placeholder="Email *">
          </label>
          <span id="email" class="focus-input"></span>
        </div>
        <div class="wrap-input">
          <label (focusout)="checkForm('job')">
            <input class="form-input" type="text" formControlName="job" placeholder="Professione *">
          </label>
          <span id="job" class="focus-input"></span>
        </div>
        <div class="wrap-input" fxLayoutAlign="center center">
          <input class="form-checkbox" type="checkbox" formControlName="privacycheckbox" id="privacycheckbox"
                 value="Presto il consenso al trattamento dei miei dati">
          <label for="privacycheckbox">
            <span style="color:red">* </span><span>Presto il consenso al trattamento dei miei dati <a href="https://antonellozitelli.it/privacy-policy">(Privacy policy)</a></span>
          </label>
        </div>
        <span id="form-err-message"></span>
        <div id="form-btn-container">
            <button type="submit" id="form-btn" [disabled]="!formData.valid">Scarica l'anteprima</button>
        </div>
      </div>
    </form>
  </div>
</div>
