<section>
  <div fxLayout="row" fxShow.lt-md="false" fxLayoutAlign="center center">
    <img id="az-logo" src="https://antonellozitelli.it/assets/images/logo.webp" alt="Antonello-Zitelli-logo">
    <h1 id="title">Per ogni cosa da comunicare c'è sempre il modo giusto per farlo!</h1>
  </div>
</section>

<!--<section>
  <div id="book-container" fxLayout="column" fxLayoutAlign="center center">
    <h1 id="book-title">Il primo "manuale" pratico di comunicazione politica e istituzionale</h1>
    <div fxLayout="row" fxLayoutAlign="center center">
      <img id="book-img" src="assets/images/copertina-libro.jpg" alt="libro-comunica-da-leader">
    </div>
    <h2 id="book-title">Esempi, tecniche e strumenti operativi</h2>
  </div>
</section>-->

<section style="margin-top: 50px; margin-bottom: 50px">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
    <img class="character" src="assets/images/business-human-2.png" alt="business-man-3d-characters">
    <app-form></app-form>
    <img class="character" src="assets/images/business-human.png" alt="business-man-3d-character">
  </div>
</section>
