.black {
  color: black;
}

#home-logo {
  width: 4%;
  height: auto;
  padding-right: 1%;
}

#home-title {
  font-size: 26pt;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
  color: #297f00;
}

.about {
  background-image: url("../../assets/images/about-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4%;
}

#avatar {
  padding-top: 6%;
  width: 14%;
  height: auto;
}

#title-about {
  margin-bottom: -1.5%;
  font-size: 32pt;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 15px black;
}

.about-textbox {
  background-color: rgb(241, 237, 237);
}

.about-paragraph {
  font-size: 18pt;
  text-align: justify;
  width: 70%;
  color: rgb(122, 122, 122);
}

.work {
  background-image: url("../../assets/images/work-background.webp");
  background-position: center;
  background-size: cover;
  padding: 8%;
}

#title-work {
  font-size: 32pt;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 15px black;
}

.work-textbox {
  background-color: #0089f3;
  padding: 1.5%;
}

#work-paragraph {
  font-size: 18pt;
  text-align: justify;
  width: 70%;
  color: white;
}

.shortcuts {
  background-color: rgb(241, 237, 237);
  background-size: cover;
  padding: 4%;
}

.shortcut-circle {
  padding-bottom: 5%;
}

.shortcut-btn {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16pt;
  font-weight: bold;
  min-width: 160px;
  height: 55px;
  background-color: #49A078;
  border-radius: 21px;
}

.shortcut-btn:hover {
  cursor: pointer;
  background-color: #73BF9D;
  box-shadow: 0 10px 30px 0 #49A078;
  -moz-box-shadow: 0 10px 30px 0 #49A078;
  -webkit-box-shadow: 0 10px 30px 0 #49A078;
  -o-box-shadow: 0 10px 30px 0 #49A078;
}

.shortcut-title {
  font-size: 18pt;
}

.shortcut-paragraph {
  font-size: 14pt;
  text-align: center;
  width: 70%;
  color: rgb(122, 122, 122);
  margin-top: -1%;
}

.phrase-container {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

#phrase {
  font-size: 26pt;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
  color: #297f00;
}

#signature {
  font-size: 22pt;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
  color: black;
  margin-top: -1%;
}

.contact-container {
  background-color: #7dbec5;
  background-size: cover;
  padding: 1%;
}

#title-contact {
  font-size: 26pt;
  font-weight: bold;
  color: white;
}

.contact-buttons {
  padding-bottom: 2%;
}

.contact-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  min-width: 160px;
  height: 55px;
  background-color: #49A078;
  border-radius: 21px;
}

.number {
  letter-spacing: 2px;
}

.contact-button:hover {
  cursor: pointer;
  background-color: #73BF9D;
  box-shadow: 0 10px 30px 0 #49A078;
  -moz-box-shadow: 0 10px 30px 0 #49A078;
  -webkit-box-shadow: 0 10px 30px 0 #49A078;
  -o-box-shadow: 0 10px 30px 0 #49A078;
}

.footer {
  background-color: #2b2b2b;
}

#footer-text {
  font-weight: bold;
  text-align: center;
  font-size: 12pt;
  color: rgb(122, 122, 122);
}

@media only screen and (max-width: 959px) {
  #avatar {
    width: 30%;
    height: auto;
  }

  #title-about, #title-work {
    font-size: 8vw;
  }

  .about-paragraph, #work-paragraph, .shortcut-btn, .shortcut-paragraph, #signature {
    font-size: 4.8vw;
  }

  .shortcut-circle {
    width: 40%;
    height: auto;
  }

  .shortcut-title, #phrase {
    font-size: 5vw;
  }

  #title-contact {
    font-size: 6vw;
  }

  .contact-button {
    font-size: 4vw;
  }

  .mail {
    margin-bottom: 15px;
  }

  #footer-text {
    font-size: 3.5vw;
  }
}
