@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto_regular/Roboto-Regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/roboto_bold/Roboto-Bold-webfont.woff")
    format("woff");
  font-weight: bold;
  font-style: bold;
}

#home-logo {
  width: 5%;
  height: auto;
  padding-right: 1%;
}

#home-title {
  font-size: 32pt;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
  color: #297f00;
}

.about {
  background-image: url("../../assets/images/about-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4%;
}

.about-textbox {
  background-color: rgb(241, 237, 237);
  font-size: 20pt;
  font-family: Roboto;
  font-weight: normal;
  color: black;
}

.work {
  background-image: url("../../assets/images/work-background.webp");
  background-position: center;
  background-size: cover;
  padding: 10%;
}

.work-textbox {
  background-color: #0089f3;
  background-size: cover;
  font-size: 20pt;
  font-family: Roboto;
  font-weight: normal;
  padding: 1.5%;
}

.shortcut {
  background-color: rgb(241, 237, 237);
  background-size: cover;
  padding: 5%;
}

.shortcut-circle {
  padding-bottom: 5%;
}

.shortcut-title {
  font-size: 20pt;
  font-family: Roboto;
  font-weight: normal;
}

.shortcut-paragraph {
  font-family: Roboto;
  font-size: 16pt;
  text-align: center;
  width: 70%;
  color: rgb(122, 122, 122);
  margin-top: -2%;
}

.contact-container {
  background-color: #7dbec5;
  background-size: cover;
  font-size: 20pt;
  font-family: Roboto;
  font-weight: normal;
  padding: 1.5%;
}

.contact-buttons {
  padding-bottom: 1.5%;
}

.phrase-container {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

#phrase {
  font-size: 30pt;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
  color: #297f00;
}

#signature {
  font-size: 24pt;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
  color: black;
  margin-top: -1%;
}

#button {
  font-family: "Open Sans", Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 18pt;
  text-align: center;
  border: 2px solid;
  border-width: 0px;
  border-radius: 5px;
  line-height: 1.7em;
  box-sizing: border-box;
  padding: 0.3em 1em;
  background: #7cda24;
  color: white;
  transition: 0.5s;
  outline: none;
}

#button:hover {
  background-color: white;
  color: #7cda24;
}

#contact-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 18pt;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0.3em 1em;
  border-radius: 3px;
  background: 0 0;
  line-height: 1.7em;
  color: white;
  transition: 0.5s;
  outline: none;
  background-color: #85c9d1;
}

#contact-button:hover {
  background-color: #8ed8e0;
}

#title-work {
  font-size: 40pt;
  font-family: Roboto;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 15px black;
}

#avatar {
  padding-top: 12%;
  width: 16%;
  height: auto;
}

#title-about {
  margin-bottom: -1.5%;
  font-size: 40pt;
  font-family: Roboto;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 15px black;
}

#about-paragraph {
  text-align: justify;
  width: 70%;
  color: rgb(122, 122, 122);
}

#work-paragraph {
  text-align: justify;
  width: 70%;
  color: white;
}

#black {
  color: black;
}

#title-contact {
  font-size: 25pt;
  font-family: Roboto;
  font-weight: bold;
  color: white;
  padding: 3%;
}

.footer {
  background-color: #2b2b2b;
  background-size: cover;
  padding: 0.5%;
}

#footer-text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 15pt;
  color: rgb(122, 122, 122);
}

@media only screen and (max-width: 959px) {
  .about-textbox {
    font-size: 5vw;
  }

  .work-textbox {
    font-size: 5vw;
  }

  .shortcut-circle {
    width: 50%;
    height: auto;
  }

  .shortcut-title {
    font-size: 6vw;
  }

  .shortcut-paragraph {
    font-size: 5vw;
  }

  #title-about {
    font-size: 10vw;
    padding-bottom: 0;
  }

  #title-work {
    font-size: 10vw;
  }

  #title-contact {
    font-size: 8vw;
  }

  #contact-button {
    font-size: 6vw;
  }

  #button {
    font-size: 6.5vw;
  }

  #avatar {
    width: 35%;
    height: auto;
  }

  #phrase {
    font-size: 6.5vw;
  }

  #signature {
    font-size: 6vw;
  }

  #footer-text {
    font-size: 4vw;
  }
}
