<section>
    <div fxLayout="row" fxHide.lt-sm="true" fxLayoutAlign="center center">
        <img id="home-logo" src="../../assets/images/logo.jpg" alt="AZ-logo">
        <h1 id="home-title">Per ogni cosa da comunicare c'è sempre il modo giusto per farlo!</h1>
    </div>
</section>

<section>
<div class="about" fxLayout="column" fxLayoutAlign="start center">
    <h1 id="title-about">CHI SONO</h1>
    <img id="avatar" src="../../assets/images/circle_icon-profilo.png" alt="Antonello Zitelli">
</div>
<div class="about-textbox" fxLayout="column" fxLayoutAlign="start center">
    <p id="about-paragraph">Sono un giornalista professionista, specializzato in comunicazione politica e istituzionale. Laureato in scienze della comunicazione all’Università degli studi di Cassino, ho seguito corsi di aggiornamento alla LUISS Management e alla SDA Bocconi.&nbsp;Ho già scritto per il quotidiano <strong id="black">Libero</strong> e collaborato con <strong id="black">Il Tempo</strong>, La Notizia Giornale, Romauno tv, Rttr tv, D+, Odeon tv, Telesiciliacolor-Rete 8, Teleradio del Mediterraneo, SMAU Sicilia, Mondimpresa e Confindustria Sicilia, Comune di Catania, Provincia regionale di Catania.</p>
    <p id="about-paragraph">Sono stato <strong id="black">Spin doctor e ghost writer</strong> di parlamentari e amministratori pubblici. Ho già redatto strategie di comunicazione per conto di imprese, istituzioni, manager e personaggi pubblici. Sono stato docente a contratto di comunicazione e giornalismo per la Facoltà di Lettere e filosofia dell'università di Catania. Ho collaborato con il gruppo <strong id="black">Focus management school</strong> e <strong id="black">Metaconsulting</strong>. Sono autore dei volumi “Comunica da leader”, “Sono solo salvinate” e “Parole di buon senso”.</p>
</div>
</section>

<section>
    <div class="work" fxLayout="column" fxLayoutAlign="center center">
        <h1 id="title-work">COSA FACCIO?</h1>
    </div>
    <div class="work-textbox" fxLayout="column" fxLayoutAlign="center center">
        <p id="work-paragraph">Creo contenuti per il web (social network, blog, siti internet) per aziende, professionisti e organizzazioni. Progetto e realizzo speech, video, info-grafiche e <strong>articoli</strong>. Svolgo <strong>consulenze</strong> nel campo della comunicazione politica e istituzionale. Collaboro, in qualità di docente, con diverse organizzazioni e associazioni di categoria. Mi occupo di <strong>comunicazione</strong> a 360 gradi, ma in particolare di <strong>public speaking</strong>.</p>
    </div>
</section>

<section>
    <div class="shortcut" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <img class="shortcut-circle" src="../../assets/images/circle-coaching.png" alt="Coaching">
            <button id="button" (click)="coachingNavigate()">COACHING</button>
            <p class="shortcut-title" ><strong>Public Speaking</strong></p>
            <p class="shortcut-paragraph">Lezioni individuali con metodo innovativo, piacevole ed efficace. Esercitazioni pratiche e simulazioni reali davanti a microfono e telecamera.</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <img class="shortcut-circle" src="../../assets/images/circle-leadership.png" alt="Leadership">
            <button id="button" (click)="leadershipNavigate()">LEADERSHIP</button>
            <p class="shortcut-title" ><strong>Comunica da leader</strong></p>
            <p class="shortcut-paragraph">Manager, professionisti, responsabili di enti pubblici e privati sprecano occasioni importanti perché non hanno familiarità con la comunicazione.</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <img class="shortcut-circle" src="../../assets/images/circle-creativity.png" alt="Creativity">
            <button id="button" (click)="creativityNavigate()">CREATIVITY</button>
            <p class="shortcut-title" ><strong>Creazione contenuti</strong></p>
            <p class="shortcut-paragraph">Video interviste, redazionali, note e comunicati stampa. Stesura speech per conferenze, riunioni e presentazioni. Infografiche e contenuti per i social.</p>
        </div>
    </div>
</section>

<section>
    <div class="contact-container" fxLayout="column" fxLayoutAlign="center center">
        <div class="contact" fxLayout="column" fxLayoutAlign="center center">
            <h1 id="title-contact">CONTATTAMI</h1>
        </div>
        <div class="contact-buttons"> 
            <a id="contact-button" href="tel:3939445566">3939445566</a>
        </div>
    </div>
</section>

<footer class="footer" fxLayout="row" fxLayoutAlign="center center">
    <p id="footer-text">Copyright © 2020 Antonello Zitelli</p>
</footer>